.profileContain {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 10px;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
  top: 0; */
}
#profileContainBody {
  width: calc(100% - 20px);
  height: calc(100% - 60px);
  position: absolute;
  /* z-index: 100; */
  /* left: 0;
  top: 0; */
}
#profileContain {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
  top: 0; */
}
.borderPro{
  height: 100%;
  width: 50%;
  position:absolute;
}
.profileBorderLeft{
  left: 0;
  top: 0;
  background:rgba(0,0,0,0) url('../../assets/img/border2.png');
  background-size: contain;
  background-repeat:no-repeat;

}
.profileBorderRight{
  right: 0;
  top: 0;
  background:rgba(0,0,0,0) url('../../assets/img/border1.png');
  background-size: cover;
  background-size: contain;
  background-position:calc(100% + 0px) 100%;
  background-repeat:no-repeat;
}
.ProfileHead{
  width: 100%;
    height: 40px;
    
    background: rgba(12, 46, 56,0.8);
    /* box-shadow:inset 0px 0px 10px 2px #83FFFD; */
    color: #83FFFD;

    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#profileImg1{
  width: 140px;
  height: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,0) url("../../assets/img/infor1-1.png");
  background-size: cover;
}
#profileImg2{
  width: 140px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0) url("../../assets/img/infor1-2.png");
  background-size: cover;
  background-position: -10px;
}
#profileImgC{
  width: 100px;
  height: 100px;
  position: absolute;
  top:calc(50% - 50px);
  left: calc(50% - 50px);
  background: rgba(0,0,0,0) url("../../assets/img/infoM.svg");
  background-size: cover;
}
#profileImg3{
  width: 140px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0,0,0,0) url("../../assets/img/infor1-3.png");
  background-size: cover;
  background-position: -10px;
}
#profileImg4{
  width: 140px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0) url("../../assets/img/infor1-4.png");
  background-size: cover;
}
#profileText{
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
}