#navBar {
  position: absolute;
  top:60px;
  left: 20%;
  
  /* top: 50px; */
  width: calc(60%);
  height: calc(30% - 50px);
  /* background-color: aqua; */
}
#navBarBody {
  width: calc(100% - 10px);
  height: 50px;
  float: left;
  background: rgb(12, 46, 56);
  box-shadow: inset 0px 0px 10px 2px #83FFFD;
}