.maintenanceContain {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
  top: 0; */
}
#maintenanceContain {
  width: 100%;
  height: 100%;
  overflow:scroll;
  scrollbar-width: 0;
  /* position: fixed; */
  /* z-index: 100; */
  /* left: 0;
  top: 0; */
}
.tableCard{
  width: 100%;
  height: 40px;
}
.col{
  width: 30px;
  height: 100%;
}