#btnsDiv {
  position: absolute;
  top:160px;
  right: 400px;
  /* background: rgba(255,0,0,1); */
  /* top: 50px; */
  width: 50px;
  height: 200px; 
  /* background-color: aqua; */
}

#btnsBody{
  position: absolute;
  width: 100%;
  height: 100%; 
  background: rgba(12, 46, 56,0) ;
  background: linear-gradient(135deg, transparent 15px, rgba(12, 46, 56,0.9) 0) top left, linear-gradient(15deg, transparent 15px, rgba(12, 46, 56,0.9) 0) left;
  background-size: 10% 10%;
  background-repeat: no-repeat;
  z-index: -2;
  /* background-color: aqua; */
}

.bntDivShadow {
  position: absolute;
  width: 100%;
  height: 100%; 
  background: rgba(255, 0, 0, 0) ;
  background: linear-gradient(135deg, transparent 15px,  rgba(131,255,253,1) 0) top left, linear-gradient(15deg, transparent 15px,  rgba(131,255,253,1) 0) left;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.bntDivShadow::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  /* background-position: center center; */
  filter: drop-shadow(0px 0px 10px rgba(131,255,253, 1)) blur(1px);
  z-index: 2;

  /* animation time! */
  animation: oscillateBnt 1s cubic-bezier(.17, .67, .45, 1.32) infinite alternate;
}

@keyframes oscillateBnt {
  from {
      transform: scale(0.9, 0.9);
  }

  to {
      transform: scale(1.01, 1.01);
  }
}
.btn{
  width: 50px;
  height: 50px;
  margin-top: 50px;
  /* background-color: aqua; */
}
.sunny{

}
.night{

}