.head{
  width: 100%;
  height: 100%; 
  background: rgba(9, 65, 82,1);

  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  font-family: SourceHanSerifCN-Heavy, SourceHanSerifCN;
  /* text-align:center; */
  border: 1px solid rgb(65, 255, 250);
  /* color: rgb(15, 198, 159); */
  /* background:rgba(14, 31, 57, 0.881); */
  /* background-image:-webkit-radial-gradient(left,rgba(14, 31, 57, 0),rgb(0, 0, 0)); */
  /* background-image: linear-gradient(to right,rgba(14, 31, 57, 0),rgb(0, 0, 0)); */
  /* background-image: linear-gradient(to top,rgba(14, 31, 57, 0),rgb(0, 0, 0)); */
}
.headLeft{
  width: 20%;
  height: 100%; 
  float: left;
  /* background-image: linear-gradient(to bottom,rgba(14, 31, 57, 0),rgb(0, 0, 0)); */
  /* background: rgba(0, 0, 0, 0) url(../../assets/img/headleft.png);
  background-size: cover */
}
.headMid{
  width: 60%;
  height: 100%; 
  float: left; 
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  font-variant: tabular-nums;
  /* font-feature-settings: "tnum";
  font-family: "", cursive; */
  text-align:center;
  text-shadow: black 2px 2px 3px;
  
  /* background: rgba(47, 100, 186,0) url('../img/headMid.png');
  background-size: cover; */
  /* background-color: rgba(0,0,0,0) url(../../assets/img/headRight.png);
  background-size: cover */
}
.headRight{
  width: 20%;
  height: 100%; 
  float: left;
  /* background-image: linear-gradient(to right,rgba(14, 31, 57, 0),rgb(0, 0, 0)); */
  /* background: rgba(0,0,0,0) url(../../assets/img/headleft1.png);
  background-size: cover */
}
.upHalf{
  width: 100%;
  height: 90%;
  line-height: 45px
  /* border-bottom: 1px solid  rgb(15, 198, 159) ; */
}
.downHalf{
  width: 100%;
  height: 10%;
  
  background-color: rgba(0,0,0,0) url(../../assets/img/headRight.png);
  background-size: cover
}

.headRightUp{
  /* background-image: linear-gradient(to left,rgba(82, 120, 225, 0),rgba(82, 120, 225, 0),rgb(82, 120, 225)); */
}
.headLeftUp{
  /* background-image: linear-gradient(to right,rgba(82, 120, 225, 0),rgba(82, 120, 225, 0),rgb(82, 120, 225)); */
}



.headMidUp{
  width: 100%;
  height: 25%;
  /* background: rgba(47, 100, 186,0) url('../img/headBottom.png'); */
  background-size: cover;
  /* background-color: rgb(82, 120, 225); */
}
.headMidDown{
  width: 100%;
  height: 100%;
  background: rgba(47, 100, 186,0) url('../img/headBottom.png');
  /* background: rgba(47, 100, 186,0) url('../img/headBottom.png'); */
  background-size: cover;
  background-position-y: -5px;
}



span.value{
  color: rgb(254, 174, 50);
}
#value_pm10{
   color: #43fffc;
}
#value_pm25{
   color: #43fffc;
}
#value_shi{
   color: #43fffc;
}
#value_wen{
   color: #43fffc;
}
#value_qua{
   color: #43fffc;
}
.timeLogo{
  width: 20px;
  height: 20px;
  float: left;
  margin: 12px 20px;
  background: rgba(0,0,0,0) url("../img/time.svg");
  background-size: contain;
}
.weatherLogo{
  width: 20px;
  height: 20px;
  float: left;
  margin: 12px 20px;
  background: rgba(0,0,0,0) url("../img/weather.svg");
  background-size: contain;
}
.headInfo{
  float: left;
  width: auto;
}